* {
    box-sizing: border-box;
}
body {
    font: caption;
    font-size: 14px;
    line-height: 1.333;
    background: #222;
    color: #eee;
    margin: 1em;
}
section {
    overflow-x: auto;
    overflow-y: hidden;
}
h2 {
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    margin: 0;
}
table {
    border-spacing: 0;
}
th, td {
    background: #888;
    border-top: 1px solid #bbc;
    border-bottom: 1px solid #022;
    width: 8em;
    padding: .4em .6em;
    text-align: left;
    word-break: break-word;
    vertical-align: top;
}
th:nth-child(2n),
td:nth-child(2n) {
    background: #555;
}
tr > *:not(:first-child) {
    cursor: url(scroll-horizontal.png), ew-resize;

}
th {
    font-weight: 500;
}
th:first-child {
    border-left: 1px solid #bbc;
    color: #022;
}
thead tr:first-child th {
    border-top-width: 2px;
}
thead tr:last-child th,
thead tr:last-child td {
    border-bottom-width: 2px;
}
td:first-child {
    border-right: 1px solid #022;
    color: #022;
}
td {
    color: #eef;
    font-weight: 300;
    letter-spacing: .25px;
}
