:root {
    --gutter: 6em;
    --vertical-padding: .1667em;
    --aside-color: #33c;
    --line-color: #339;
    --column-width: 24em;
    --body-background: #ccc;
}
:focus {
    outline-color: var(--aside-color);
}

body {
    background: var(--body-background);
    color: #333;
    max-width: calc(var(--column-width) * 2);
    margin: 1em auto;
    padding: 0 1em;
}
form, .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form {
    gap: 1em;
    margin: 0 auto;
}
body > h2 {
    color: var(--aside-color);
    text-align: center;
}
form > section {
    flex: 1 0 48%;
    max-width: var(--column-width);
}
.item {
    gap: 1ex;
    margin: .5em 0;
}
.field {
    display: block;
    font: caption;
    font-size: 16px;
    vertical-align: top;
    padding: var(--vertical-padding) .5em;
    margin: 0;
    border-radius: .25em;
    border: 0 none;
    box-sizing: border-box;
    flex: 1 1 auto;
}
h6 {
    flex: 0 0 var(--gutter);
    display: inline-block;
    margin: var(--vertical-padding) 0;

    color: var(--aside-color);
    font-style: italic;
    font-size: inherit;
    font-weight: normal;
}
h6 button {
    display: block;
    background: white;
    padding: 3px 6px;
    border: 0 none;
    border-radius: .25em;
    color: var(--aside-color);
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    margin: .25em .25em .25em 0;
}

/* textareas */
#entry,
#local-store {
    min-height: 4em;
}

/* checkboxes */
fieldset {
    box-shadow: 0 0 0 1px var(--line-color);
}
label {
    display: block;
    cursor: pointer;
    padding: 0.25em 0;
}
label:hover {
    color: var(--aside-color);
}
input[type="checkbox"] {
    margin: 0.25em .75em 0 0;
    width: 15px;
    height: 15px;
}
input[type="checkbox"]:after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    padding: 1px 0 0 1px;
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    border-radius: 2px;
    background: #fff;
    box-shadow: inset 0 0 0 1px var(--line-color);
    color: #fff;
}
input[type="checkbox"]:checked:after {
    content: '\2713';
    background: var(--aside-color);
    box-shadow: none;
}

#yield:not(:empty) {
    box-shadow: 0 0 0 1px white;
    word-break: break-word;
    overflow-wrap: break-word;
}

/* lists */
@counter-style colon-numeric {
    system: extends decimal;
    suffix: ': ';
}
ol {
    list-style: colon-numeric;
    padding: 2px 0;
}
li {
    list-style-position: inside;
}
li::marker {
    color: var(--aside-color);
    font-size: 12px;
}

ol.field,
code.field {
    padding: 0;
}

/* needs width */
#call-item {
    display: initial;
}
#call {
    font: revert;
    white-space: pre-wrap;
}

hr {
    height: 4px;
    border-color: var(--line-color) transparent;
    border-style: solid none;
    border-width: 1px 0;
}


@media screen and (max-width: 49em) {
    body {
        max-width: var(--column-width);
    }
    form {
        display: block;
    }
    section {
        margin-bottom: 3em;
        padding-bottom: 3em;
        border-bottom: 3px dotted var(--aside-color);
    }
}

@media screen and (max-width: 26em) {
    .item {
        display: block;
    }
    h6, .field {
        width: 100%
    }
}
