:root {
    --gutter: 6em;
    --vertical-padding: .1667em;
    --aside-color: #33c;
    --line-color: #339;
}
:focus {
    outline-color: var(--aside-color);
}

body {
    background: #ccc;
    color: #333;
    max-width: 48em;
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
body > h2 {
    color: var(--aside-color);
    flex: 1 0 100%;
}
body > section {
    flex: 0 1 48%;
}
textarea, select, output, input[type="text"], fieldset, ol, code {
    display: block;
    font: caption;
    font-size: 16px;
    vertical-align: top;
    padding: var(--vertical-padding) .5em;
    margin: .5em 0 .5em var(--gutter);
    border-radius: .25em;
    border: 0 none;
    box-sizing: border-box;
    width: calc(100% - var(--gutter));
}
span {
    position: absolute;
    padding: var(--vertical-padding) 0;
    width: calc(.86 * var(--gutter));
    display: inline-block;
    color: var(--aside-color);
    font-style: italic;
}
span button {
    background: white;
    padding: 3px 6px;
    border: 0 none;
    border-radius: .25em;
    color: var(--aside-color);
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    margin: .25em .25em .25em 0;
}

#entry,
#local-store {
    min-height: 4em;
}
fieldset {
    box-shadow: 0 0 0 1px var(--line-color);
}
label {
    display: block;
    cursor: pointer;
    padding: 0.25em 0;
}
input[type="checkbox"] {
    margin: 0.25em .75em 0 0;
    width: 15px;
    height: 15px;
}
input[type="checkbox"]:after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    padding: 1px 0 0 1px;
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    border-radius: 2px;
    background: #fff;
    box-shadow: inset 0 0 0 1px var(--line-color);
    color: #fff;
}
input[type="checkbox"]:checked:after {
    content: '\2713';
    background: var(--aside-color);
    box-shadow: none;
}

#yield:not(:empty) {
    box-shadow: 0 0 0 1px white;
    word-break: break-word;
    overflow-wrap: break-word;
}

@counter-style colon-numeric {
    system: extends decimal;
    suffix: ': ';
}
ol {
    list-style: colon-numeric;
    padding: 2px 0;
}
li {
    list-style-position: inside;
}
li::marker {
    color: var(--aside-color);
    font-size: 12px;
}

#call {
    font: revert;
    white-space: pre-wrap;
    width: 100%;
    padding: 0.5em 0;
    margin-left: 0;
    margin-top: 2em;
}

hr {
    height: 4px;
    border-color: var(--line-color) transparent;
    border-style: solid none;
    border-width: 1px 0;
}
